main{
	clear : both;
}
#body{
	text-align: justify;
}
#login-form,
#register-form{
	margin-top : 80px;
}
#resentOTP,
#forgotPass,
#alreadyRegistered{
	font-size: 14px;
	display: flex;
    justify-content: center;
    margin-top: 10px;
}
#map {
    height:550px;
    width:100%;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
#worker_search_results .list-group{
	box-shadow : none;
}
#worker_search_results .list-group-item{
	border : none;
	border-bottom : 2px solid #ccc;
	border-radius : none;
}
#worker_search_results .list-group-item:last-child{
	border-bottom : none;
}
#WorkerDetailsBackButton{
	margin-bottom : 16px;
}
.fullDetailsAnchor{
	text-decoration: underline;
    font-size: 14px;
    font-style: italic;
    margin-top: 16px;
    display: block;
}
.table-inverse{
	background : #000;
	color : #fff;
}
.resultsSideBar{
	padding : 16px;
	background : #ddd;
	border-radius : 4px;
}
.resultsSideBar .list-group-item{
	border : none ! important;
}
.filterSection{
	padding : 8px;
	position : absolute;
	right : 75px;
}
.cityFilterSearch{
	margin-top: -1px;
	border: none;
    padding: 6px 20px ! important;
}
#filterTextValueDiv{
	margin-right : 45px;
}
.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.table-user-information > tbody > tr > td:first-child {
    font-weight : bold;
}
#fullProfile #userName{
	font-size : 24px;
}
.ng-invalid.ng-invalid-required.ng-touched,
.ng-invalid.ng-invalid-pattern.ng-touched{
	border : 1px solid red;
}