main{
	clear : both;
}
#body{
	text-align: justify;
}
#login-form,
#register-form{
	margin-top : 80px;
}
#resentOTP,
#forgotPass{
	font-size: 14px;
	display: flex;
    justify-content: center;
    margin-top: 10px;
}
#map {
    height:420px;
    width:100%;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
#worker_search_results .list-group{
	box-shadow : none;
}
#worker_search_results .list-group-item{
	border : none;
	border-bottom : 2px solid #ccc;
	border-radius : none;
}
#worker_search_results .list-group-item:last-child{
	border-bottom : none;
}