.navbar-default,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
	background-color : rgba(255,255,255,.3);
	border : none;
	background-image : none;
	box-shadow : none;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	font-weight : bold;
	background : #000000;
}
.navbar-default .navbar-nav>.active>a .anchorText{
	color : #fff;
}
.navbar-nav>li>a{
	padding-top : 27px;
}