/*layout*/
html,
body{
	font-size : 16px;
	font-family: 'Open Sans', sans-serif;
	color : #505050;
	background: rgba(255,255,255,.3);
	height : 100%;
}
.wrapper{
	min-height: 100%;
  	position: relative;
}
#body,
#footerSection,
#sidebar{
	padding : 16px;
	color : #505050;
}
#site-content{
	padding-bottom : 140px;
}
a{
	color : #1b1d1e ! important;
}
a:hover,
a:focus{
	text-decoration: none;
}
a:focus .anchorText,
a:hover .anchorText{
	font-weight : bold;
}
button{
	color: #fff;
    background: #000 ! important;
    font-size: 16px ! important;
    padding: 8px 20px ! important;
}
.row{
	margin : 0px;
}
select{
	display : block;
	border-radius : 4px;
	border-color : rgb(204, 204, 204);
}

/*82172B*/