
/*footer*/
footer#footer{
	clear : both;
	padding-top : 15px;
	margin-bottom : 0;
	border-radius : 0;
	position : absolute;
	bottom : 0;
}
#footer .nav>li{
	display : inline;
	margin : 0 16px;
}
#footer .nav>li>a{
	display : inline;
}
#footer .nav>li>a:hover,
#footer .nav>li>a:focus{
	font-weight : bold
}
#footerSection{
	padding : 25px 16px;
}